<section class="benefits">
    <h2 class="benefits__title">Volverse organizado se siente mejor con <span class="benefits__title-accent">Open Spaces</span></h2>

    <article class="benefits__card">
      <img src="./assets/images/icon_1.png" alt="Lo que necesitas" class="benefits__images">
      <h3 class="benefits__card__title">Lo que necesitas</h3>
      <p class="benefits__card__text">Una línea de productos diseñados para todos tus espacios</p>
    </article>

    <article class="benefits__card">
      <img src="./assets/images/icon_2.png" alt="Lo que necesitas" class="benefits__images">
      <h3 class="benefits__card__title">Materias primas sustentables</h3>
      <p class="benefits__card__text">Todos los productos con materias primas sustentables</p>
    </article>

    <article class="benefits__card">
      <img src="./assets/images/icon_3.png" alt="Lo que necesitas" class="benefits__images">
      <h3 class="benefits__card__title">Guia</h3>
      <p class="benefits__card__text">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
  </section>