
  
<footer class="footer">
  
  <div class="footer-conteiner">
    
    <div class="footer-store">
      <h4 class="footer-title">Tienda</h4>
      <ul>
        <li><a href="https://adalab.es/" target="_blank"">Productos</a></li>
        <li><a href="https://adalab.es/" target="_blank"">Cajoneras</a></li>
        <li><a href="https://adalab.es/" target="_blank"">Para toda la casa</a></li>
        <li><a href="https://adalab.es/" target="_blank"">Habitaciones</a></li>
      </ul>
    </div>
    
    <div class="footer-about">
      <h4 class="footer-title">Nosotros</h4>
      <ul>
        <li><a href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
        <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
        <li><a href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
        <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h4 class="footer-title">Contacto</h4>
      <ul>
        <li><a href="https://adalab.es/" target="_blank">ayuda@openspaces.com</a></li>
        <li><a href="https://adalab.es/" target="_blank">Socios</a></li>
      </ul>
      <div class="footer-socials">
        <a href="https://adalab.es/" target="_blank"><i class="fa-brands fa-linkedin-in social-icon"></i></a>
        <a href="https://adalab.es/" target="_blank"><i class="fa-brands fa-instagram social-icon"></i></a>
        <a href="https://adalab.es/" target="_blank"><i class="fa-brands fa-twitter social-icon"></i></a>
      </div>
    </div>
    
  </div>
  <a href="#top" class="footer-arrow"><i class="fa-solid fa-arrow-up fa-xl footer-arrow"></i></a>
</footer>

