<footer class="footer">
  <i class="fa-solid fa-arrow-up fa-xl footer-arrow"><a href="#top"></a></i>
  <div class="footer-store">
    <h4 class="footer-store-title">Tienda</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank"">Productos</a></li>
      <li><a href="https://adalab.es/" target="_blank"">Cajoneras</a></li>
      <li><a href="https://adalab.es/" target="_blank"">Para toda la casa</a></li>
      <li><a href="https://adalab.es/" target="_blank"">Habitaciones</a></li>
    </ul>
  </div>
  
  <div class="footer-about">
    <h4 class="footer-about-title">Nosotros</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
      <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
      <li><a href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
      <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
    </ul>
  </div>

  <div class="footer-contact">
    <h4 class="footer-contact-title">Contacto</h4>
    <p class="footer-contact-text">ayuda@openspaces.com</p>
    <a href="https://adalab.es/" target="_blank">Socios</a>
  </div>
</footer>
