// fonts

$font-main: 'Poppins', sans-serif;

// colors

$color-light: #f0EBE5;
$color-secondary: #FF975A;
$color-main: #0C474B;
$color-footer-text: #b6c8c9;

$color-secondary-light: #ffe0ce;

@mixin titles($color) {
    text-align: center;
    font-family: $font-main;
    font-weight: 600;
    color: $color;
    font-size: 24px;
  }

  @mixin hero-button {
    text-transform: capitalize;
    text-align: center;
    color: $color-light;
    font-size: 16px;
    font-weight: 600;
    background-color: $color-main;
    height: 48px;
    width: 176px;
    padding: 12px 24px;
    border-radius: 3px;
    border: none;
  }