//1st section - header (must be flex)
.header {
  height: 100vh;
  width: 100%;
  padding-top: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  gap: 62px;
  

  background: url('https://raw.githubusercontent.com/Adalab/modulo-1-evaluacion-final-vvarona/aa52b4e53c41cc19608ebdf4e4c32e69e9292e80/src/images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.os-logo {
  width: 213x;
}

.fa-bars {
  color: $color-main;
  padding: 20px;
  margin: 55px 0 0 33px;
  position: fixed;
  box-sizing: border-box;
}

.nav-list {
  display: none;
}

.hero-button {
  @include button($color-light, $color-main);
}

.title, .benefits__title {
  @include titles(center, $color-main)
}
//2nd section - benefits (must be grid)

.benefits {
  background-color: $color-light;
  padding: 41px 47px 18px 45px;
  display: grid;
  grid-template-columns: 1;
  justify-items: center;

  &__card {
    @include text(center, $color-main)
    padding: 0 58px;
    margin-top: 36px;
    &__title{
      font-size: 20px;    
    }
    &__text{
      margin: 6px;
    }
  }
  &__images {
    height: 100px;
    margin-bottom: 42px
  }
  &__title {
    @include titles(center, $color-main);
  }
}

//3rd section - shipping

.shipping {
  height: 100vh;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  &-title {
    @include titles(center,$color-light);
  }
  &-text {
    @include text(center,$color-light);
  }
  &-button {
    text-decoration: underline;
    @include button($color-light, $color-secondary);
    &:hover{
      background-color: rgba(255, 255, 255, 0.071);
    }
  }
  &-img {
    height: 120px;
  }
}

//4th section - image

.image-section {
  background: url('https://github.com/Adalab/modulo-1-evaluacion-final-vvarona/blob/main/docs/assets/images/creando-espacios.jpg?raw=true');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}