//1st section - header (must be flex)
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
  gap: 62px;  
  position: relative;

  background: url('https://raw.githubusercontent.com/Adalab/modulo-1-evaluacion-final-vvarona/aa52b4e53c41cc19608ebdf4e4c32e69e9292e80/src/images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   
    
    &-logo {
      width: 213px;
      padding: 50px 50px 50px 50px;
    }
    &-menu-icon {
      color: $color-main;
      padding: 20px;
      margin: 35px 0 0 13px;
      position: fixed;
      top: 0;
      left: 0;
      box-sizing: border-box;
      @media all and (min-width: 1728px) {
        display: none;
      }
    &:hover {
      opacity: 60%;
      transform: scale(1.2);
      }   
  }
}

.nav-list {
  display: none;
  list-style: none;
  gap: 30px;
  position: absolute;
  top: 76px;
  left: 280px;
  & a {
    @include text (center, $color-main)
  }
  @media all and (min-width: 1728px) {
    display: flex;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
  @media all and (min-width: 900px) {
    align-items: flex-start;
    gap: 20px;
  }
  &-button {
    @include button($color-light, $color-main);
  }
}

.title {
  @include titles(center, $color-main);
  @media all and (min-width: 900px) {
    width: 15ch;
    text-align: left;
  }
}

//2nd section - benefits (must be grid)

.benefits {
  background-color: $color-light;
  padding: 41px 47px 18px 45px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  @media all and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 90px;
  }
  @media all and (min-width: 1728px) {
    padding: 70px 320px;
  }
  &__title {
  @include titles(center, $color-main)
  }
  &__title-accent{
    text-transform: uppercase;
  }
  &__card {
    @include text(center, $color-main);
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: start;
    &__title{
      font-size: 20px;    
    }
    &__text{
      margin: 6px;
      height: 96px;
      width: 208px;
    }
  }
  &__images {
    height: 100px;
    margin-bottom: 42px
  }
  &__title {
    @include titles(center, $color-main);
    @media all and (min-width: 900px) {
      grid-column: span 3;
      width: 34ch;
    }
  }
}

//3rd section - shipping

.shipping {
  height: 100vh;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 900px) {
    height: 50vh;
  }

  &-title {
    @include titles(center,$color-light);
    margin: 10px 0 ;
    @media all and (min-width: 900px) {
      font-size: 30px;
    }
    @media all and (min-width: 1728px) {
      font-size: 36px;
    }
  }
  &-text {
    @include text(center,$color-light);
    font-size: 14px;
    @media all and (min-width: 900px) {
    font-size: 14px;
    }
    @media all and (min-width: 1728px) {
    font-size: 16px;
    }
  }
  &-button {
    text-decoration: underline;
    @include button($color-light, $color-secondary);
    margin: 50px;
    &:hover{
      background-color: rgba(255, 255, 255, 0.071);
    }
  }
  &-img {
    height: 120px;
  }
}

//4th section - spaces & image

.spaces{
  background-color: $color-light;
   display: grid;
   grid-template-columns: 1fr;
   @media all and (min-width: 1728px) {
    grid-template-columns: 1fr 1fr;
  }
  &-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 27px;
    @media all and (min-width: 1728px) {
      align-items: flex-start;
      margin-left: 12.5vw;
    }
  }
  &-title{
    @include titles(center, $color-main);
    @media all and (min-width: 900px) {
      font-size: 30px;
    }
    @media all and (min-width: 1728px) {
    }
  }
  &-text{
    @include text(center, $color-main);
    margin: 6px;
    height: 96px;
    width: 360px;
    font-size: 14px;
    @media all and (min-width: 900px) {
    font-size: 14px;
    }
    @media all and (min-width: 1728px) {
    font-size: 16px;
    text-align: left;
    }
  }
  &-button{
    @include button($color-light, $color-main);
  }
}

.image-section {
  background: url('https://github.com/Adalab/modulo-1-evaluacion-final-vvarona/blob/main/docs/assets/images/creando-espacios.jpg?raw=true');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// Footer

.footer {
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 0;
  position: relative;

  &-conteiner {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    @media all and (min-width: 900px) {
      flex-direction: row;
    }
  }
  & ul {
    width: 208px;
    margin-bottom: 45px;
  }
  & li {
    list-style: none;
  }
  &-title {
    @include titles (left, black);
    margin-bottom: 12px;
  }
  & a {
    text-decoration: none;
        
    @include text(left,  black);
    &:hover{
      opacity: 70%;
    }
  }
  &-arrow {
    color:$color-light;
    position: relative;
    padding: 20px;
    margin: 0 16px 8px 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &-text {
    @include text(left, $color-footer-text);
  }
  
  &-contact{
    position: relative;
    order: 0;
    & .footer-title {
      color: white;
    }
  }
  &-store{
    order: 1;
  }
  &-about{
    order: 2;
  }
  &-socials {
    position: absolute;
    top: 110px;
  }
}

.social-icon {
  color: $color-light;
  font-size: 26px;
  margin: 0 5.5px;
}

